#content {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    height: 575px;
    background-color: #C7C5C1;
}

#about {
    display: flex;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: 65px;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 70%;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 0 50px 50px 50px;

}
h1 {
    font-size: 6vw;
    margin: 0;
}
h2{
    font-size: 6vw;
    margin: 0;
}
p {
    width: 90%;
    font-size: 2.3vw;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: justify;
}
#image {
    width: 30%;
    display: flex;
    justify-content: center;
}

#img {
    max-height: 75%;
    top: 80px;
    position: absolute;
    left: 50px;
}

#img:hover {
    height: 75%;
}

#link {
    margin-bottom: auto;
}

#link a {
    background-color: #C7C5C1;
    margin-right: 5px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2vw;
    width: 100px;
}

#link a:hover {
    background-color: #807C73;
    color: aliceblue;
}

@media only screen and (max-width: 950px) {
    #img {
        height: 50%;
    }

    #img:hover {
        height: 55%;
    }

    #about {
        height: fit-content;
        padding: 40px 20px;
    }
    
    p {
        text-align: justify;
        width: 100%;
    }
}

@media only screen and (max-width: 765px) {
    #img {
        height: 35%;
        top: 150px;
    }

    #img:hover {
        height: 40%;
    }
}

@media only screen and (max-width: 600px) {
    #content {
        flex-direction: column-reverse;
    }
    #about {
        margin-top: 900px;
        margin-bottom: 10px;
        width: 100%;
    }

    #img {
        height: 40%;
        top: 20px;
        padding-left: 30%;
    }

    #img:hover {
        height: 45%;
    }
}